<!DOCTYPE html>
<html>
  <head>
    <title>CodeWars</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="codewars row">
      <div class="side-bar">
        <h1 class="side-bar__header__title">Kata</h1>
        <ul class="level-selection">
          <li class="level-selection__level"><a href="/"><span class="level level-all">All</span></a></li>
          <li class="level-selection__level"><a href="/?level=1"><span class="level">Level 1</span></a></li>
          <li class="level-selection__level"><a href="/?level=2"><span class="level">Level 2</span></a></li>
          <li class="level-selection__level"><a href="/?level=3"><span class="level">Level 3</span></a></li>
        </ul>
      </div>
      <ul class="katas">
        <% problems.forEach((kata) => {%>
          <li class="katas__kata">
            <a href="problems/<%= kata.id %>">
              <div class="katas__kata--title">
                <span class="level level-small">Level <%= kata.difficulty_level %></span>
                <p><%= kata.title %></p>
              </div>
              <div class="katas__kata--solution">정답자: <%= kata.solution_count %>명</div>
              <div class="katas__kata--difficulty">난이도: <%= kata.difficulty_level %></div>
            </a>
          </li>
        <% })%>
      </ul>
    </div>
  </body>
</html>
