<!DOCTYPE html>
<html>
  <head>
    <title>Kata</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <script src="lib/codemirror.js"></script>
    <link rel="stylesheet" href="lib/codemirror.css">
    <script src="mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="stylesheets/tomorrow-night-bright.css">
  </head>
  <body>
    <div class="kata row">
      <header class="kata__hero">
        <h1 class="kata__title"><%= kata.title %></h1>
      </header>
      <div class="kata__content">
        <div class="kata__description side-bar"><%= kata.description %></div>
        <div class="kata__content--editor">
          <span class="solution-label">Solution :</span>
          <textarea form="user-form" class="kata__content--code codemirror" name="solution"><%= solution %></textarea>
          <form action="/problems/<%= kata.id %>" id="user-form" method="post" class="kata__form">
          </form>
          <a href="/" class="btn-to-list"><button>리스트로 돌아가기</button></a>
          <span class="kata__result-label">Test Results :</span>
          <div class="kata__feedback">
              <span class="kata__feedback--success">
                <ion-icon name="checkmark-circle" class="kata__feedback--icon-feedback"></ion-icon>
                <p>훌륭하군요! 정답입니다!</p>
              </span>
              <ul>
                <% tests.forEach(test => { %>
                  <li class="kata__feedback--detail">
                    <ion-icon name="checkmark-circle" class="kata__feedback--icon-result"></ion-icon>
                    <p><%= test.code %> === <%= test.solution %></p>
                  </li>
                <% }) %>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
